{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-12">
            <!-- Server side start -->
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="header-title">Mahsulot Qo'shish</h4>
                        <form class="needs-validation" novalidate="" method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="inputGroupFile01">Rasmi</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Yuklash</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="form-control bg-light" id="inputGroupFile01" name="avatar">
                                            {% comment %} <label class="custom-file-label" for="inputGroupFile01">Choose file</label> {% endcomment %}
                                        </div>
                                    </div>
                                        {% comment %} <input type="file" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required="">  {% endcomment %}
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom01">Ismi</label>
                                    <input type="text" class="form-control" id="validationCustom01"  required="" name="first_name">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom01">Familiyasi</label>
                                    <input type="text" class="form-control" id="validationCustom01"  required="" name="last_name">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom01">Kasbi</label>
                                    <input type="text" class="form-control" id="validationCustom01"  required="" name="kasbi">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>                                
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustomUsername">Doktor Haqida Ma'lumot</label>
                                    <div class="input-group">
                                        <textarea class="form-control" name="about" id="validationCustomUsername" cols="30" rows="10" required="" placeholder="Maxsulot tarkibi"></textarea>
                                        <div class="invalid-feedback">
                                            Ma'lumotni toldiring
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">Telefon Raqami</label>                                    
                                    <input type="text" class="form-control" id="validationCustom01"   name="telefon">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>   
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">Telegram</label>                                    
                                    <input type="text" class="form-control" id="validationCustom01"   name="telegram">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div> 
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">Email</label>                                    
                                    <input type="text" class="form-control" id="validationCustom01"   name="email">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div> 
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">Twitter</label>                                    
                                    <input type="text" class="form-control" id="validationCustom01"   name="twitter">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div> 
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">Facebook</label>                                    
                                    <input type="text" class="form-control" id="validationCustom01"   name="facebook">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div> 
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">Instagram</label>                                    
                                    <input type="text" class="form-control" id="validationCustom01"   name="instagram">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>                           
                                
                                
                                
                            </div>
                            <button class="btn btn-primary" type="submit">Saqlash</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}