{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}


{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12 mt-12">
        <div class="card card-bordered">
            <img  class="card-img-top img-fluid" src="{{object.rasmi.url}}" alt="image">
            <div class="card-body">                
                <h5 class="title">{{object.nomi}}</h5>
                <p class="card-text"><b>Tarkibi</b></p>                
                <p class="card-text">{{object.tarkibi}}</p>
                <p class="card-text"><b>Qollanilishi</b></p>                
                <p class="card-text">{{object.tarkibi}}</p>
                <p class="card-text"><b>Foydalanish tartibi</b></p>
                <p class="card-text">{{object.foydalanish_tartibi}}</p>
                
                
                <!-- Update-->

                <button class="btn btn-primary mb-3"  data-toggle="modal" data-target="#{{forloop.counter}}1">Edit</button>
                <div class="modal fade" id="{{forloop.counter}}1">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{object.nomi}}</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <form action="{% url 'mahsulot_edit' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="example-tel-input2" class="col-form-label">Nomi</label>
                                        <input class="form-control" type="text" id="example-tel-input2" value="{{object.nomi}}" name='nomi' >
                                        <input type="hidden" name="prod_id" value={{object.id}}>
                                        
                                        <label for="example-tel-input2" class="col-form-label">Tarkibi</label>
                                        <textarea class="form-control" type="text" id="example-tel-input2" name='tarkibi'>{{object.tarkibi}}</textarea>

                                        <label for="example-tel-input2" class="col-form-label">Qollanilish</label>
                                        <textarea class="form-control" type="text" id="example-tel-input2" name='qollanilishi'>{{object.qollanilishi}}</textarea>

                                        <label for="example-tel-input2" class="col-form-label">Tarkibi</label>
                                        <textarea class="form-control" type="text" id="example-tel-input2" name='foydalanish_tartibi'>{{object.foydalanish_tartibi}}</textarea>

                                        <label for="example-tel-input2" class="col-form-label">Rasmi</label>
                                        <input class="form-control" type="file" id="example-tel-input2"  name='rasmi'>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ortga Qaytish</button>
                                    <button type="submit" class="btn btn-primary">Saqlash</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <button class="btn btn-danger mb-3" data-toggle="modal" data-target="#{{forloop.counter}}2">Delete</button> 
                                                        <!-- Modal -->
                <div class="modal fade" id="{{forloop.counter}}2">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{object.nomi}}</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <p> Siz maxsulotni o`chirmoqchimisiz?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'mahsulot_delete' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value={{object.id}} name='prod_id' >
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ortga Qaytish</button>
                                    <button type="submit" class="btn btn-danger">O'chirish</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
            
        </div>        
    </div>
</div>

{% endblock content %}

{% block js %}
{% endblock js %}

