{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-4">
            <!-- Server side start -->
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="header-title">Telefon raqam qo`shish</h4>
                        <form class="needs-validation" novalidate="" method="post" action="{% url 'add_phone_url' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-6">
                                    <label for="validationCustom01">Telefon raqam kiriting</label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="+998********" required="" name="name">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>                                                               
                            </div> <br>
                            <button class="btn btn-primary" type="submit">Saqlash</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->
        </div>
    <div class="col-4">
            <!-- Server side start -->
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="header-title">Twitter link qo`shish</h4>
                        <form class="needs-validation" novalidate="" method="post" action="{% url 'add_twitter_url' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-6">
                                    <label for="validationCustom02">Link  kiriting</label>
                                    <input type="text" class="form-control" id="validationCustom02" placeholder="link..." required="" name="name">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>                                                               
                            </div> <br>
                            <button class="btn btn-flat btn-info mb-3" type="submit">Saqlash</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->
        </div>
    <div class="col-4">
            <!-- Server side start -->
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="header-title">Facebook link qo`shish</h4>
                        <form class="needs-validation" novalidate="" method="post" action="{% url 'add_facebook_url' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-6">
                                    <label for="validationCustom03">Link  kiriting</label>
                                    <input type="text" class="form-control" id="validationCustom03" placeholder="link..." required="" name="name">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>                                                               
                            </div> <br>
                            <button class="btn btn-flat btn-info mb-3" type="submit">Saqlash</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->
        </div>
    <div class="col-4">
            <!-- Server side start -->
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="header-title">Email qo`shish</h4>
                        <form class="needs-validation" novalidate="" method="post" action="{% url 'add_email_url' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-6">
                                    <label for="validationCustom04">Email  kiriting</label>
                                    <input type="text" class="form-control" id="validationCustom04" placeholder="link ..." required="" name="name">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>                                                               
                            </div> <br>
                            <button class="btn btn-flat btn-info mb-3" type="submit">Saqlash</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->
        </div>
    <div class="col-4">
            <!-- Server side start -->
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="header-title">Telegram link qo`shish</h4>
                        <form class="needs-validation" novalidate="" method="post" action="{% url 'add_telegram_url' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-6">
                                    <label for="validationCustom05">Link kiriting</label>
                                    <input type="text" class="form-control" id="validationCustom05" placeholder="link ..." required="" name="name">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>                                                               
                            </div> <br>
                            <button class="btn btn-flat btn-info mb-3" type="submit">Saqlash</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->
        </div>
    <div class="col-4">
            <!-- Server side start -->
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="header-title">Instagram link qo`shish</h4>
                        <form class="needs-validation" novalidate="" method="post" action="{% url 'add_instagram_url' %}">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-6">
                                    <label for="validationCustom06">Link  kiriting</label>
                                    <input type="text" class="form-control" id="validationCustom06" placeholder="link ..." required="" name="name">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>                                                               
                            </div> <br>
                            <button class="btn btn-primary" type="submit">Saqlash</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}