{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-12">
            <!-- Server side start -->
            <div class="col-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="header-title">Location</h4>
                        <form class="needs-validation" novalidate="" method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom01">Location</label>
                                    <input type="text" class="form-control" id="validationCustom01"  required="" name="map">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                                                
                            </div>
                            <button class="btn btn-primary" type="submit">Saqlash</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}