{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-12">
            <!-- Server side start -->
            <div class="col-12">
                <div class="card mt-5">
                    <div class="card-body">
                        <h4 class="header-title">Server side</h4>
                        <form class="needs-validation" novalidate="" method="post" enctype="multipart/form-data" >
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">Maxsulot nomi</label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Maxsulotning nomi" required="" name="nomi">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="inputGroupFile01">Maxsulot rasmi</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01" name="rasmi">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                     <!-- <input type="file" class="form-control" id="validationCustom02" placeholder="Last name" value="Otto" required=""> -->
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustomUsername">Maxsulot tarkibi</label>
                                    <div class="input-group">
                                        <textarea class="form-control" name="tarkibi" id="validationCustomUsername" cols="30" rows="10" required="" placeholder="Maxsulot tarkibi"></textarea>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustomUsernameqollanilishi">Maxsulot qollanilishi</label>
                                    <div class="input-group">
                                        <textarea class="form-control" name="qollanilishi" id="validationCustomUsernameqollanilishi" cols="30" rows="10" required="" placeholder="Maxsulot qo`llash tartibi"></textarea>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustomUsernameqollanilishi">Maxsulotdan foydalanish tartibi</label>
                                    <div class="input-group">
                                        <textarea class="form-control" name="foydalanish_tartibi" id="validationCustomUsernamefoydalanishtartibi" cols="30" rows="10" required="" placeholder="Maxsulotdan foydalanish tartibi"></textarea>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="submit">Saqlash</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Server side end -->
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}