{% extends 'base.html' %}
{% load static %}
{% block css %}
{% endblock css %}


{% block content %}

<div class="row">
    <div class="col-lg-12 col-md-12 mt-12">
        <div class="card card-bordered">
            <img  class="card-img-top img-fluid" src="{{object.rasmi.url}}" alt="image">
            <div class="card-body">                
                <h5 class="title">{{object.nomi}}</h5>
                <p class="card-text"><b>Tarkibi</b></p>                
                <p class="card-text">{{object.tarkibi}}</p>
                <p class="card-text"><b>Qollanilishi</b></p>                
                <p class="card-text">{{object.tarkibi}}</p>
                <p class="card-text"><b>Foydalanish tartibi</b></p>
                <p class="card-text">{{object.foydalanish_tartibi}}</p>
                <!-- <a href="#" class="btn btn-primary">Go More....</a> -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
{% endblock js %}

